name: ast
audioset_pretrained: true
input_fdim: 128
input_tdim: 1024
model_size: base384
fstride: 10
tstride: 10
imagenet_pretrained: false
label_dim: 4
backbone_only: false
cpt_path: /Users/gkont/Documents/Code/pretrained_models/audioset_10_10_0.4593.pth