name: icbhi
data_folder: /Users/gkont/Downloads/Datasets/icbhi_dataset
class_split: lungsound
split_strategy: official        # official, foldwise, random (patient-wise random)
test_fold: 0
n_cls: 4
weighted_sampler: true
batch_size: 32
num_workers: 0
h: 128
w: 1024