seed: 42

dataset:
  name: icbhi
  data_folder: Datasets/icbhi_dataset
  cycle_metadata_path: Datasets/icbhi_dataset/icbhi_metadata.csv
  class_split: lungsound
  split_strategy: official # official, foldwise, random (patient-wise random)
  test_fold: 0
  multi_label: false
  n_cls: 2
  weighted_sampler: false
  batch_size: 16
  num_workers: 0
  h: 128
  w: 1024

audio:
  # audio basics
  sample_rate: 16000
  desired_length: 10.0
  remove_dc: true
  normalize: false
  # padding type: zero, repeat
  pad_type: repeat
  # fade settings
  use_fade: true
  fade_samples_ratio: 64
  # features
  n_mels: 128
  frame_length: 40
  frame_shift: 10
  low_freq: 100
  high_freq: 8000
  window_type: hanning
  use_energy: false
  dither: 0.0
  mel_norm: mit # hf, mit, None

mlflow:
  tracking_uri:
  tracking_username:
  tracking_password:
  experiment_name:
