seed: 42

dataset:
  name: icbhi
  data_folder: /Users/gkont/Downloads/Datasets/icbhi_dataset
  class_split: lungsound
  split_strategy: official # official, foldwise, random (patient-wise random)
  test_fold: 0
  n_cls: 4
  weighted_sampler: true
  batch_size: 32
  num_workers: 0
  h: 128
  w: 256

audio:
  # audio basics
  sample_rate: 16000
  desired_length: 10.0
  # padding type: zero, repeat, aug
  pad_type: repeat
  # fade settings
  use_fade: true
  fade_samples_ratio: 64
  # features
  n_mels: 128
  frame_length: 40
  frame_shift: 10
  low_freq: 0
  high_freq: 8000
  window_type: hanning
  use_energy: false
  dither: 0.0
  mel_norm: hf # hf, mit, None
  
  resz: 1.0 # spectrogram resize factor (1.0 = no resize)
  # Augmentation
  raw_augment: 0
  wave_aug:
    - type: Crop
      sampling_rate: 16000
      zone: [0.0, 1.0]
      coverage: 1.0
      p: 0.0

    - type: Noise
      color: white
      p: 0.0

    - type: Speed
      factor: [0.9, 1.1]
      p: 0.0

    - type: Loudness
      factor: [0.5, 2.0]
      p: .1

    - type: VTLP
      sampling_rate: 16000
      zone: [0.0, 1.0]
      fhi: 4800
      factor: [0.9, 1.1]
      p: 0.1

    - type: Pitch
      sampling_rate: 16000
      factor: [-1, 3]
      p: 0.0

  spec_aug:
    - type: SpecAugment
      policy: icbhi_ast_sup
      mask: mean
      p: .3

models:
  cnn6:
    name: cnn6
    do_dropout: true

  ast:
    name: ast
    audioset_pretrained: true
    input_fdim: 128
    input_tdim: 1024
    model_size: base384
    fstride: 10
    tstride: 10
    imagenet_pretrained: false
    label_dim: 4
    backbone_only: false
    cpt_path: /Users/gkont/Documents/Code/ADD-RSC/ls/pretrained_models/audioset_10_10_0.4593.pth

training:
  loss: weighted_ce
  use_class_weights: True
  epochs: 100
  lr: 3e-5
  weight_decay: 0.05
  optimizer: adamw

  scheduler:
    use: cosine        # options: none, cosine, cosine_warmup, reduce_on_plateau
    warmup_epochs: 10         # used only for warmup
    min_lr: 1e-8
    cosine_weight_decay: True
    final_weight_decay: 0.0
    # reduce_factor: 0.5        # used for ReduceLROnPlateau
    # reduce_patience: 5
    # reduce_min_lr: 1e-8
    # reduce_metric: "icbhi_score"  # metric to monitor
    # reduce_mode: "max"        # or "min", depending on metric (e.g., loss=min)


mlflow:
  tracking_uri:
  tracking_username:
  tracking_password:
  experiment_name:
