# Audio basics
sample_rate: 16000
desired_length: 10.0
pad_type: repeat
use_fade: true
fade_samples_ratio: 64

# Feature extraction
n_mels: 128
frame_length: 40
frame_shift: 10
low_freq: 100
high_freq: 8000
window_type: hanning
use_energy: false
dither: 0.0
mel_norm: mit
resz: 1.0

# Augmentation
raw_augment: 0

wave_aug:
  - type: Crop
    sampling_rate: 16000
    zone: [0.0, 1.0]
    coverage: 1.0
    p: 0.0

  - type: Noise
    color: white
    p: 0.0

  - type: Speed
    factor: [0.9, 1.1]
    p: 0.0

  - type: Loudness
    factor: [0.5, 2.0]
    p: 0.1

  - type: VTLP
    sampling_rate: 16000
    zone: [0.0, 1.0]
    fhi: 4800
    factor: [0.9, 1.1]
    p: 0.1

  - type: Pitch
    sampling_rate: 16000
    factor: [-1, 3]
    p: 0.0

spec_aug:
  - type: SpecAugment
    policy: icbhi_ast_sup
    mask: mean
    p: 0.3